

.product-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.product-container img {
    max-width: 100%;
}
.product-card {
    margin: 10px;
    border: solid 1px black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
}

.price {
    color:green;
}
.details-button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-transform: uppercase;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}
.details-button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

/* Sidebar Filtering */
.sidebar {
   background: #446563;
   color:#c1cbcd;
   justify-content: left;
   padding:5%;
}
.sidebar li{
    list-style: none;
}

@media (min-width: 600px){
    .product-container {
        grid-template-columns: repeat(3,1fr);
    }
}