/* Importing all other css files */
@import url("./reset.css");
@import url("./variables.css");
@import url("./header-footer.css");
@import url("./loader.css");
@import url("./index.css");
@import url("./cart.css");
@import url("./checkout.css");
@import url("./product.css");

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  text-align: center;
}
 

/* Universal */
a {
  text-decoration: none;
}



/*  CLASSES  */

.logo {
  max-width: 200px;
  padding: 10px 5px;
}

.accent-button {
  display: flex;
  justify-content: center;
  background-color: var(--color-accent);
  color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}
.accent-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.primary-button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-transform: uppercase;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  padding: 10px 30px;
}
.primary-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.secondary-button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  font-style: italic;
  font-weight: bold;
  padding: 10px 30px;
}
.secondary-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* PAGE SPECIFICITIES */

/** Home page specific **/
.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

/** Community page specific **/
.under-construction {
  color: red;
  max-width: 1000px;
  margin: 50px auto;
}
.community-hero{
  margin: 0px;
  max-width: 100%;
}
.community__text {
  font-size: 2.5vw;
}
.community__text p {
  text-align: center;
  max-width: 70%;
  text-wrap: wrap;
}
.commuity-content {
  margin: auto;
  max-width: 1000px;
}
.community {
  position: relative;
  background-image: url(/assets/images/community/community.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 80vh;
  color: var(--color-tertiary);
  font-size: 2em;
  text-align: center;
}

.community__text {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.community p {
  font-style: italic;
}
.facebook__image {
  background-image: url(/assets/images/community/facebook.jpeg);
  background-size: cover;
  height: 420px;
  width: 420px;
  border-radius: 50%;
  color:var(--color-accent);
  text-align: center;
  font-size: 50px;
}

/** Contact page specific **/

form {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-tertiary);
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: left;
  padding: 10px 20px;
}

.form-narrow {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  row-gap: 5px;

}form .primary-button {
  width: 50%;
  margin: auto;
  border: solid 2px var(--color-tertiary);
  text-transform: capitalize;
  font-weight: bold;
  color: var(--color-tertiary)
}
input, textarea, select {
  border: solid 0px;
  border-radius: 5px;
  padding: 10px;
}

textarea {
  height: 100px;
}

/* Checkbox-revealed content on "contact us" page*/

#checkbox-confirmation, .confirmation {
  display: none;
  }

#checkbox-confirmation:checked ~ .confirmation {
  display: block;
  }
.confirmation {
  text-align: center;
  color: var(--color-accent);
  border: solid 3px var(--color-accent);
  border-radius: 5px;
  padding: 50px 10px;
  margin-top: 10px; 
}
#checkbox-confirmation .accent-button {
  margin: 20px 0px;
}
.confirmation .secondary-button {
  display: inline-flex;
  margin: 5px;
}


/** About us page specific **/

.about {
  margin-top: 10px;
  align-items: center;
}
.about__logo {
  display: flex;
  max-width: 80vw;
}
.about h1 {
  text-decoration: underline;
}
.about h2 {
  text-decoration: underline;
}



/* MEDIA QUERIES */

@media (min-width: 600px){
  main {
    margin: auto auto 2rem auto;
  }
}

