/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #c1cbcd;
  --color-secondary: #446563;
  --color-tertiary: #0a3641;
  --color-accent: #6D9B55;
  --gradient__black-dark: linear-gradient( black, var(--color-tertiary));
  --gradient__dark-black: linear-gradient( var(--color-tertiary), black);
  --gradienr__dark-mid: linear-gradient(var(--color-tertiary), var(--color-secondary));
}